<!DOCTYPE html>
<html>
<head>
	<title>JAM</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script src="script.js"></script>
	<link rel="stylesheet" href="style.css" />
</head>
<body x-ng-app="" x-ng-controller="TictactoeController">
	<div class="container">
		<div x-ng-class="{cells: true, xClick: b == 'x', oClick: b == 'o'}" x-ng-repeat="b in board track by $index" x-ng-click="clicker($index)"> {{ b }} </div>
		<button x-ng-click="reset();">NEW GAME</button>
		<div x-ng-show="mJordanWins();" class="jordanwins"><img src="images/jordanlaugh.gif"</img></div>
		<div x-ng-show="mJacksonWins();" class="jacksonwins"><img src="images/moonwalk.gif"</img></div>
		<div x-ng-show="draw();" class="draw">DRAW</div>
	</div>	
</body>
</html>


